.kBtn {
	padding:10px;
	margin-right:10px;
	border:2px solid rgba(0,0,0,0);
	color:#fff;
	cursor:pointer;
	display:inline-block;
}

.kokBtn {
	background-color:#004794;
}

.stopBtn {
	background-color:#f00 !important;
}

.kokBtn:hover {
	border:2px solid #fff;
}

.kokBtn:active {
	border:2px solid rgba(0,0,0,0.5);
}

.kokSettings {
	background-color:#9cbadc;
	padding:10px;
	color:#000 !important;
}

.kokSettings input {
	margin-left:5px;
}
